{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-4">
        <form method="post">
          {% csrf_token %}
          <!--
					csrf_token is a tag for security concerns, namely to prevent CSRF Attack.
					https://www.netsparker.com/blog/web-security/csrf-cross-site-request-forgery/
					-->
          {{ form.as_p }}
          <!--
					{{ form.as_p }} will render the form fields wrapped in a HTML <p> tag.
					-->
          <button class="btn btn-primary" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
