{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>Projects</h1>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static project.preview_image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

<!--

On line 10, we include our project image. Inside the src attribute, we add the
code {% static project.preview_image %}. This tells Django to look inside the
static files to find a file matching project.preview_image value.


On line 14, we are referring to the link of our project_detail page. Accessing URLs
in Django is similar to accessing static files. In this case, we are accessing a
URL path named project_detail, which takes integer arguments corresponding to the
pk number of the project.

-->
